img {
  width: 100px; 
  height: auto;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  border: 1px solid #262525 !important;
  padding: 8px !important;
}
tr:nth-child(even){background-color: #ffffff;}
th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

.product-row {
  border-top: 3px solid #04AA6D;
}

.chart-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.chart-info {
  margin-right: 5px;
}